name: chart-env-injector-webhook pipeline
trigger:
  branches:
    include:
      - refs/tags/*
resources:
  repositories:
    - repository: cnp-library
      type: github
      ref: refs/heads/master
      name: hmcts/cnp-azuredevops-libraries
      endpoint: 'hmcts'

jobs:
  - job: Release
    # Make sure we have a tag to run this job
    condition: startsWith(variables['Build.SourceBranch'], 'refs/tags/')
    pool:
      vmImage: 'ubuntu-latest'
    steps:
      - template: steps/charts/release.yaml@cnp-library
        parameters:
          chartName: env-injector-webhook
          chartReleaseName: chart-env-injector-webhook-ci
          chartNamespace: chart-tests
          acrName: "hmctspublic"
          helmDeleteWait: "300"
          helmInstallWait: "300"
          serviceConnection: "DCD-CFTAPPS-SBOX"
          registryServiceConnection: "azurerm-prod"
          aksResourceGroup: "cft-sbox-01-rg"
          aksCluster: "cft-sbox-01-aks"
