apiVersion: apps/v1
kind: Deployment
metadata:
  name: env-injector-webhook-deployment
  namespace: env-injector
  labels:
    app: env-injector
spec:
  replicas: 3
  selector:
    matchLabels:
      app: env-injector
  template:
    metadata:
      labels:
        app: env-injector
    spec:
      containers:
        - name: env-injector
          image: hmctspublic.azurecr.io/hmcts/k8s-env-injector:492855_20231212
          imagePullPolicy: Always
          args:
            - -envCfgFile=/etc/webhook/config/envconfig.yaml
            - -tlsCertFile=/etc/webhook/certs/tls.crt
            - -tlsKeyFile=/etc/webhook/certs/tls.key
            - -alsologtostderr
            - -v=4
            - 2>&1
          volumeMounts:
            - name: webhook-certs
              mountPath: /etc/webhook/certs
              readOnly: true
            - name: webhook-config
              mountPath: /etc/webhook/config
      volumes:
        - name: webhook-certs
          secret:
            secretName: env-injector-webhook-tls
        - name: webhook-config
          configMap:
            name: env-injector-webhook-configmap
      priorityClassName: system-cluster-critical
